/start/nbproject/private/
/start/build/
/start/dist/
/zad4/nbproject/private/
/zad4/build/
/zad4/dist/
/zad5/nbproject/private/
/zad5/dist/
/zad5/build/
/FillBase/dist/
/zad6/nbproject/private/
/zad6/build/
/zad6/dist/
/zad7/nbproject/private/
/zad7/build/
/zad7/dist/
/zad8/nbproject/private/
/zad8/build/
/zad8/dist/
/zad9/nbproject/private/
/zad9/dist/
/zad9/build/
/Zad8/nbproject/private/
/Zad8/dist/
/Zad8/build/
/zad10/nbproject/private/
/zad10/dist/
/zad10/build/
/zad11/nbproject/private/
/zad11/build/
/zad11/dist/
/zad12/nbproject/private/
/zad12/build/
/zad12/dist/
/prir01/nbproject/private/
/prir01/build/
/prir01/dist/
/JavaApplication15/nbproject/private/
/JavaApplication15/dist/
/JavaApplication15/build/